@{
	ViewBag.Title = "Home Page";
}

@model GitHubWebUserFinder.Models.SearchResult


<div class="jumbotron">

	@Model.User.FullName
	@Model.User.Alias
	@Model.User.CurrentLocation
	@Model.User.AvatarUrl
	
	@{
		foreach (var repository in Model.User.Repositories)
		{
			@repository.Name
			@repository.NumberOfStarGazers
			@repository.Url
		}
	}

</div>